<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>表单输入</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="Application">
        <!-- 单行文本输入区域 -->
        <input v-model="textField"/>
        <p>文本输入框内容：{{textField}}</p>

       <!-- 多行文本输入区域 -->
       <!-- textarea元素不能再标签内插入文本，只能通过v-model指令的方式来设置内容 -->
       <textarea v-model="textarea"></textarea>
       <p style="white-space: pre-line;">多行文本内容：{{textarea}}</p>

       <!-- 复选框与单选框 -->
       <input type="checkbox" v-model="checkbox"/>
       <p>{{checkbox}}</p>

       <!-- 成组出现的复选框 -->
       <input type="checkbox" value="足球" v-model="checkList"/>足球
       <input type="checkbox" value="篮球" v-model="checkList"/>篮球
       <input type="checkbox" value="排球" v-model="checkList"/>排球
       <input type="checkbox" value="羽毛球" v-model="checkList"/>羽毛球
       <p>{{checkList}}</p>

       <!-- 单选框 -->
       <input type="radio" value="男" v-model="sex"/>男
       <input type="radio" value="女" v-model="sex"/>女
       <p>{{sex}}</p>

       <!-- 选择列表 -->
       <!-- 单选选择列表 -->
       <select v-model="select">
            <option>男</option>
            <option>女</option>
       </select>
       <p>{{select}}</p>

       <!-- 多选选择列表  若要使选择列表支持多选操作，则只需要为其添加上multiple属性即可-->
       <select v-model="selectList" multiple>
            <option>足球</option>
            <option>篮球</option>
            <option>排球</option>
            <option>羽毛球</option>
       </select>
       <p>{{selectList}}</p>

       <!-- lazy修饰符不关注输入框中文案的变化，只有当用户输入完成后再进行数据逻辑的处理 -->
       <input v-model.lazy="textField"/>
       <p>文本输入框内容：{{textField}}</p>

       <!-- trim修饰符将绑定的文本数据的首尾空格去掉 -->
       <input v-model.trim="textField"/>
       <p>文本输入内容：{{textField}}</p>

       
    </div>
</body>
<script>
    const App = {
        data(){
            return{
                textField:"",
                textarea:"",
                checkbox:"",
                checkList:[],
                sex:"",
                select:"",
                selectList:[]
            }
        },
        methods: {
            // clickP(){
            //     console.log(this.textField);
            // }
        },
    }
    Vue.createApp(App).mount("#Application")
</script>
</html>